@model PeD.Core.ApiModels.Propostas.PropostaContratoDto

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap"
        rel="stylesheet"/>
    <title>Contrato - @Model.Parent.Titulo</title>
    <partial name="Pdf/_Style"/>
    @Html.PartialAsync("../Pdf/_Style.cshtml").Result
</head>

<body>
<table
    width="100%"
    style="border: none; max-width: 21cm; margin: 0 auto;"
    cellpadding="0">
    <thead style="border: none">
    <tr style="border: none">
        <td style="border: none">
            <table class="cabecalho" width="100%" height="64" border="1">
                <tr height="32">
                    <td width="33%" rowspan="2">
                        <div class="logo" style="padding: 8px;">
                            <?xml version="1.0" encoding="utf-8"?>

                            <!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                            <svg
                                version="1.1"
                                id="Layer_1"
                                xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                height="70"
                                width="190"
                                x="0px"
                                y="0px"
                                viewBox="0 0 821.8 301.5"
                                enable-background="new 0 0 821.8 301.5"
                                xml:space="preserve">
                                <g>
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        fill="#249829"
                                        d="M703.9,119.7L809.8,32c3.1-2.6,7.7-2.1,10.3,1v0
c2.6,3.1,2.1,7.7-1,10.3l-106,87.8c-3.1,2.6-7.7,2.1-10.3-1l0,0C700.3,126.9,700.8,122.3,703.9,119.7"/>
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        fill="#F4A312"
                                        d="M644.5,96.8h137.6c4,0,7.3,3.3,7.3,7.3v0c0,4-3.3,7.3-7.3,7.3
H644.5c-4,0-7.3-3.3-7.3-7.3v0C637.2,100.1,640.5,96.8,644.5,96.8"/>
                                    <path
                                        fill="#002969"
                                        d="M622.4,1.6l147.7,120c3.1,2.5,3.6,7.2,1.1,10.3v0c-2.5,3.1-7.2,3.6-10.3,1.1L613.2,13
c-3.1-2.5-3.6-7.2-1.1-10.3l0,0C614.6-0.4,619.3-0.9,622.4,1.6"/>
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        fill="#EB6E03"
                                        d="M730.5,58.2l33.9,133.3c1,3.9-1.4,7.9-5.3,8.9h0
c-3.9,1-7.9-1.4-8.9-5.3L716.3,61.8c-1-3.9,1.4-7.9,5.3-8.9h0C725.5,51.9,729.5,54.3,730.5,58.2"/>
                                    <path
                                        fill="#002969"
                                        d="M117.6,291.6c-6.8-5.4-10.9-10.6-14.3-18.6c-2.3-6.4-3-11.3-3.2-18.1c0.2-14.5,2.7-24.9,13.8-34.7
c7.6-6.3,16.2-9.8,25.6-12.4c16.8-4.7,41.9-6.6,60.6-7.9l11.1-0.8v-11l-0.2-4.5c-0.7-5.1-1.2-8.2-3.4-12.9l-1.1-1.9
c-4.4-6.3-8.3-9.1-15.3-12.1c-6-2.3-11.2-3.4-17.6-4.2c-4.4-0.5-8.6-0.7-13.1-0.8c-6.6-0.1-11.9,0.4-18.3,1.6
c-3.5,0.7-6.8,1.5-10.2,2.4c-5.2,1.4-10.3,3.1-15.4,4.9l-1.5,0.6v-20.6l0.8-0.2l1.6-0.3c3.7-0.8,7.4-1.5,11.1-2.2
c6.6-1.2,13-2.2,19.6-2.9c7.6-0.7,14.9-1,22.5-1c7.5,0.1,14.7,0.5,22.2,1.4c6.2,0.8,11.8,1.9,17.8,3.5c5.8,1.8,10.5,3.6,15.7,6.8
c4.1,2.7,7,5.3,10.1,9.2c2.6,3.6,4.3,6.7,5.8,10.9c2.2,6.6,2.8,12.5,2.9,19.4v110.1v1.7l-0.1,0.1c-2.7,2.6-9.2,4.5-16.7,4.5
s-14-1.9-16.7-4.5l-0.3-0.3v-1.4v-31.1v-53.4l-13.5,1.4c-15.8,1.6-33.1,2.3-47.4,10c-9.2,5.8-13.4,12-15.3,22.9
c-0.9,9.1-0.2,16.8,4.6,24.8c13.6,19.3,39.2,14.1,59.1,9.4v17.1C174.2,301.7,138.3,306.3,117.6,291.6 M33.4,140.5h49.1v19.8H62.3
c-12.8,0-24.4,1.2-28.9,6.4c0,13.4,0-9.5,0,80.6c0.5,19.3,11.3,29.3,26,33.6c11.7,3.4,21.1,1.3,32.1-1v17.9
c-12.6,2-25.3,4.5-37.4,3.1C24.9,297.6,0.4,284.5,0,250.2V104.5v-1.7l0.1-0.1c2.7-2.6,9.2-4.5,16.7-4.5c7.5,0,14,1.9,16.7,4.5
V140.5z M287.3,283.7c-11.1-8.6-17.7-17.8-22.6-30.9c-3.6-10.6-4.9-20.1-5.3-31.2c-0.1-15,1.5-28.1,7.1-42.1
c5.4-12.5,12.8-22.3,23.8-30.6c24.8-17.7,67.2-20.4,93.9-6.9c14.6,7.9,22.6,19.5,27.5,35.1c3.1,10.6,4,20.4,4.1,31.5v9.3H292.9
c2,26.4,5,47.3,32.1,59c12.7,5.2,28.4,6.6,42.1,5.5c6.4-0.6,12.2-1.7,18.4-3.4c9.5-2.7,18.4-6.6,27-11.7v22.8
c-18,7.3-34.9,10.9-54.5,11.3c-5.5,0.1-10.9,0-16.4-0.3c-10.5-0.8-19.8-2.2-29.9-5.2C302.4,292.8,295.2,289.4,287.3,283.7z
M382.7,205.6c-0.6-14.9-0.2-26.1-7.5-39.4c-15.6-25.2-53.8-23.9-71.5-1.8c-9.9,13.7-10.2,25.5-11,41.2H382.7z M484.2,284.4
c6.8,0.3,12.6,0.1,19.3-1.3c12.9-2.6,22.7-7.3,26-21.2c0.6-5.6,0.6-8.3-1.7-13.4c-3-6.5-6.6-9-12.9-11.8
c-5.7-2.4-11.3-3.8-17.3-5.2c-7.9-1.8-15.9-3-23.7-5c-7.7-2-14.6-4.5-21.5-8.6c-5.2-3.3-8.9-6.4-12.4-11.5c-3.8-5.9-5.3-11-6-18
c-0.8-7.5-0.5-12.9,2.1-19.9c1.6-4.4,3.6-7.6,6.5-11.2c5.2-6.2,10.3-10,17.4-13.8c6.4-3.2,12.7-5.4,19.7-7.2
c8.4-1.9,16.2-2.7,24.8-2.9c7.2-0.1,14.1,0.3,21.3,1.1c7.2,0.9,13.5,2.3,20.4,4.2c3.7,1.1,7.3,2.2,10.9,3.6l0.4,0.1V164l-0.6-0.3
c-5.3-3-10.5-5.5-16.2-7.6c-5.5-2-10.8-3.4-16.5-4.4c-7-1.2-13.4-1.6-20.5-1.2c-5.2,0.4-9.4,1.1-14.4,2.7c-4.5,1.6-7.3,3-11.3,5.8
c-5.3,4.6-7,7.2-8.7,14c-0.5,6.4-0.1,9.7,2.8,15.4c2.6,3.9,4.5,5.8,8.4,8.2c4,2.2,7.8,3.6,12.2,4.9c6.8,2,13.6,3.4,20.6,4.8
c16.6,3.1,37.3,8,47,23.2c2.3,4.1,3.4,7.3,4.3,11.9c0.9,5.9,1.1,11.3,0.2,17.2c-2,10.1-6.7,17.9-14.4,24.7
c-6.7,5.6-13.8,9.3-22,12.3c-8.5,3-15.9,4.4-24.9,5.3c-5.7,0.5-11.1,0.6-16.8,0.6c-6.1-0.1-11.9-0.5-18-1.2
c-5.8-0.8-11.1-1.8-16.8-3.3c-6.2-1.6-12-3.4-17.9-5.6l-1-0.4v-22.7l0.1,0.1l0.9,0.6l1,0.6c6.2,3.5,13.3,6.7,20,9.1
C464.7,281.9,473.4,283.9,484.2,284.4z M594.3,291.6c-6.8-5.4-10.9-10.6-14.3-18.6c-2.3-6.4-3-11.3-3.2-18.1
c0.2-14.5,2.7-24.9,13.8-34.7c7.6-6.3,16.2-9.8,25.6-12.4c16.8-4.7,41.9-6.6,60.6-7.9l11.1-0.8v-11l-0.2-4.5
c-0.7-5.1-1.2-8.2-3.4-12.9l-1.1-1.9c-4.4-6.3-8.3-9.1-15.3-12.1c-6-2.3-11.2-3.4-17.6-4.2c-4.4-0.5-8.6-0.7-13.1-0.8
c-6.6-0.1-11.9,0.4-18.4,1.6c-3.5,0.7-6.8,1.5-10.2,2.4c-5.2,1.4-10.3,3.1-15.4,4.9l-1.5,0.6v-20.6l0.8-0.2l1.6-0.3
c3.7-0.8,7.4-1.5,11.1-2.2c6.6-1.2,13-2.2,19.6-2.9c7.6-0.7,14.9-1,22.5-1c7.5,0.1,14.7,0.5,22.2,1.4c6.2,0.8,11.8,1.9,17.8,3.5
c5.8,1.8,10.5,3.6,15.7,6.8c4.1,2.7,7,5.3,10.1,9.2c2.6,3.6,4.3,6.7,5.8,10.9c2.2,6.6,2.8,12.5,2.9,19.4v110.1v1.7l-0.1,0.1
c-2.7,2.6-9.2,4.5-16.7,4.5c-7.5,0-14-1.9-16.7-4.5l-0.3-0.3v-1.4v-31.1v-53.4l-13.5,1.4c-15.8,1.6-33.1,2.3-47.4,10
c-9.2,5.8-13.4,12-15.3,22.9c-0.9,9.1-0.2,16.8,4.6,24.8c13.6,19.3,39.2,14.1,59.1,9.4v17.1C650.8,301.7,615,306.3,594.3,291.6z"/>
                                </g>
                            </svg>
                        </div>
                    </td>
                    <td width="34%" rowspan="2">
                        <h5>
                            <span>@Model.Parent.Titulo</span>
                        </h5>
                    </td>
                    <td width="33%" height="32">
                        <span>

                        </span>
                    </td>
                </tr>
                <tr height="32">
                    <td>
                        <span>&nbsp;</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <div class="bPage">&nbsp;</div>

            <div class="content" id="main-content">
                <section>@Html.Raw(Model.Header)</section>
                <hr style="break-after: page">
                <section>@Html.Raw(Model.Conteudo)</section>
                <hr style="break-after: page">
                <section>@Html.Raw(Model.Footer)</section>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot id="foot">
    <tr>
        <td>
            <div
                style="text-align: center; text-decoration: underline;"
                class="cinza">
                <strong>
                    <small>
                        "O conteúdo deste documento é material reservado e de
                        propriedade da TAESA sendo vedada a cópia ou edição por
                        qualquer meio e/ou utilização sem autorização da mesma.”
                    </small>
                </strong>
            </div>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>